.slider-container {
  display: inline-flex;
  flex-direction: column;
  height: 4.4rem;
  overflow: hidden;
  z-index: 0;
}

.slider-container h1 {
  color: rgb(51 65 85);
  animation: moveUp 3000ms ease-in-out infinite;
  z-index: 0;
}

@keyframes moveUp {
  0%,
  100% {
    transform: translateY(0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateY(-100%);
  }

  25%,
  45%,
  65%,
  85% {
    transform: translateY(-100%);
  }
}
